body {
    background-image: url('images/table.png');
    font-family: Luminari, fantasy;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px; 
    color: #DFD7B9;
    margin: 0; 
    height: 100vh; 
}

h1 {
    color: goldenrod;
    font-family: 'Brush Script MT', cursive;
}

button, input {
    font-family: Luminari, fantasy;
}

.nameForm {
    width: 90%;
    max-width: 600px;
    padding: 20px;
    margin-top: 5vh;
    box-sizing: border-box;
}

.name, .nameButton {
    width: 100%;
    box-sizing: border-box; 
}

.name {
    height: 40px;
    border-radius: 5px;
    border: 2px solid goldenrod;
    background-color: #ECD991;
    font-size: 1rem; 
}

.nameButton {
    font-family: Luminari, fantasy;
    height: 50px;
    margin-top: 20px;
    background-color: goldenrod;
    color: #016f32;
    border: none;
    font-size: 1.5rem;
    cursor: pointer; 
}

@media (max-width: 768px) {
    body, .nameForm, .name, .nameButton, h1 {
        font-size: 14px;
        padding: 10px;
    }

    h1 {
        font-size: 1.5rem;
    }
}
