body {
    background-image: url('images/table.png');
    font-family: Luminari, fantasy;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    font-weight: bolder;
    color: #DFD7B9;
}

h1 {
    color: goldenrod;
    font-family: 'Brush Script MT', cursive;
    font-size: 5vh;
}

#message-el {
    color: #ECD991;
    font-size: 2.5vh;
}

button {
    color: #016f32;
    width: 25vh;
    background: goldenrod;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-top: 2vh;
    font-weight: bold;
    border: none;
    font-size: 2.5vh;
}
