body {
    background-image: url('images/table.png');
    font-family: Luminari, fantasy;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    font-weight: bolder;
    color: #DFD7B9;
}
 
h1 {
    color: goldenrod;
    font-family: 'Brush Script MT', cursive;
    
}

#message-el {
    color: #ECD991;
}

button {
    color: #016f32;
    width: 20vh;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    font-weight: bold;
    border: none;

}
